## Common
__pycache__
build*/
.pytest_cache/
*.pyc
*.a
*.o
*.so
*.dylib
.cache
.coverage
.vscode
.lock
*.swp
*.pytest_cache
*~
DartConfiguration.tcl
.DS_Store
*.egg-info
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
test-results

## Python build directories & artifacts
htmlcov
wholegraph.egg-info/
python/build
python/wholegraph/bindings/*.cpp
wheels/
_skbuild/
cufile.log

## Patching
*.diff
*.orig
*.rej

## C++ build directories & artifacts
CMakeFiles/
Debug
build/

## Eclipse IDE
.project
.cproject
.settings

## IntelliJ IDE
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
.pydevproject

## CLion
.idea/
cmake-build-debug/

# Jupyter Notebooks
.ipynb_checkpoints

## Doxygen
cpp/doxygen/html

# Sphinx docs & build artifacts
docs/wholegraph/source/api_docs/api/*

# others
.conda/
.conda-bld/
.ipynb_checkpoints/
test-results/
_skbuild/
cpp/.idea/
cpp/cmake-build-debug/
pylibwholegraph/.idea/
pylibwholegraph/cmake-build-debug/
