## https://pre-commit.com/
#
# Before first use: `pre-commit install`
# To run: `pre-commit run --all-files`
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: debug-statements
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ["--config=.flake8"]
        exclude: |
          (?x)^(
            scripts
          )
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.2
    hooks:
      - id: clang-format
        exclude: |
          (?x)^(
            scripts/checks/__clang_cuda_additional_intrinsics.h
          )
        types_or: [c, c++, cuda]
        args: ["-fallback-style=none", "-style=file", "-i"]
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v0.4.0
    hooks:
      - id: verify-copyright
        files: |
          (?x)
              [.](cmake|cpp|cu|cuh|h|hpp|sh|pxd|py|pyx)$|
              CMakeLists[.]txt$|
              meta[.]yaml$|
              setup[.]cfg$|
              [.]flake8[.]cython$
      - id: verify-alpha-spec
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.13.11
    hooks:
      - id: rapids-dependency-file-generator
        args: ["--clean"]
